version: 0.2.0.{build}
os: Visual Studio 2019
install:

before_build:
- cmd: git submodule update --init --recursive

build_script:
- cmd: dotnet --info
- ps: .\build.ps1 -Platform "AnyCPU" -Configuration "Release"

test: off

artifacts:
- path: artifacts/zip/*.zip
- path: artifacts/nuget/*.nupkg