variables:
  packageVersion: '11.4.0-rc1'
jobs:
- job: Windows
  pool:
    vmImage: 'windows-2022'
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET 8 SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'test/AvaloniaEdit.Tests'
    displayName: 'Run Tests'

  - task: DotNetCoreCLI@2
    displayName: 'Pack AvaloniaEdit'
    inputs:
      packagesToPack: 'src\AvaloniaEdit\AvaloniaEdit.csproj;src\AvaloniaEdit.TextMate\AvaloniaEdit.TextMate.csproj'
      command: pack
      configuration: 'Release'
      outputDir: '$(Build.ArtifactStagingDirectory)/NuGet'
      verbosityPack: normal
      versioningScheme: byEnvVar
      versionEnvVar: packageVersion

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)/NuGet'
      artifactName: 'Nuget'
    condition: succeeded()

