variables:
  packageVersion: '11.0.999-cibuild00$(Build.BuildId)-beta'
jobs:
- job: Windows
  pool:
    vmImage: 'windows-2022'
  steps:

  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'test/AvaloniaEdit.Tests'
    displayName: 'Run Tests'

  - task: DotNetCoreCLI@2
    displayName: 'Pack AvaloniaEdit'
    inputs:
      packagesToPack: 'src\AvaloniaEdit\AvaloniaEdit.csproj;src\AvaloniaEdit.TextMate\AvaloniaEdit.TextMate.csproj'
      command: pack
      configuration: 'Release'
      outputDir: '$(Build.ArtifactStagingDirectory)/NuGet'
      verbosityPack: normal
      versioningScheme: byEnvVar
      versionEnvVar: packageVersion

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)/NuGet'
      artifactName: 'Nuget'
    condition: succeeded()

